source/EtwTestLibrary/bin/
source/EtwTestLibrary/obj/
source/EventSourceDocumentor.MSBuild/obj/
source/EventSourceDocumentor.MSBuild/bin/
source/EtwTestLibrary/Samples-EventSourceDemos-Customized.csv
source/MSBuildDebugHelper/obj/
source/MSBuildDebugHelper/bin/Debug/Samples-EventSourceDemos-Customized.csv
source/packages/EventSourceDocumentor.MSBuild.1.0.1/EventSourceDocumentor.MSBuild.1.0.1.nupkg
